h2{
  color: black;
}

body{ 
  background-color: tan;
}

ul{
  list-style: none;
}

li{
  margin: 4%;
}

button{
  border-radius: 20%;
}

li button{
  margin-left: 5%
}

#burgerpng{
  height: 25%;
  width: 25%;
}