
<li>
	{{burger_name}}
	{{#unless devoured}}
	<button class="devour" data-id="{{id}}" data-newDevoured ="{{devoured}}">
		DEVOUR THIS BURGER!!
	</button>
	{{/unless}}
		<button class="delete" data-id="{{this.id}}">
		DELETE
	</button>
</li>
